body{
    background: linear-gradient(-21deg, #202020 50%, #000000 50%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }
 .card-panel{
  background: linear-gradient(110deg, #202020 50%, #202020ab 50%, #202020ab 52%, #202020ab 52%, #20202088 0);
}
  section {
    flex: 1 0 auto;
  }